/* Fonts */
html {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.quote {
  font-size: 0.9rem;
  font-weight: 700;
}

p {
  line-height: 1.2rem;
}

body {
  max-width: 100%;
  min-width: 300px;
}

h1,
h2,
h3,
p {
  padding-bottom: 0.5rem;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.navbar img {
  height: 32px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.logo p {
  font-size: 1.2rem;
  padding-bottom: 0;
}

.name-one {
  color: darkgrey;
}

.name-two {
  color: lightgrey;
}

nav {
  padding-right: 24px;
}

.navbar span {
  display: inline-block;
  padding: 5px 8px;
}

.navbar a {
  border-bottom: 3px solid #FFF;
  transition-duration: 200ms;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  border-bottom: 3px solid #330640;
  color: #330640;
}

.navbar a:active {
  border-bottom: 3px solid #70B6ED;
  color: #70B6ED;
  transition-duration: 200ms;
}

/* In Common */

.banner,
.middle,
.community-build {
  display: flex;
  width: 100%;
  margin: auto;
}

.banner,
.classes {
  background-color: #D1D1D1;
}

.main,
.main-image {
  width: 55%;
  padding: 32px 20px 20px 20px;
}

.main-image img,
.main img,
video {
  width: 100%;
}

/* Buttons */

.btn {
  color: white;
  background-color: #330640;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}

.btn:hover {
  transition-duration: 500ms;
  background-color: #70B6ED;
  border: none;
  border-radius: 0;
}

.mini-btn {
  color: #70B6ED;
  text-decoration: none;
  font-weight: 700;
  padding: 0 3px;
}

.mini-btn:hover {
  background-color: #330640;
  border: 1px solid #330640;
  border-radius: 5px;
  transition-duration: 300ms;
}

/* Banner */

.bannertext {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

/* Middle info sections */

.middle {
  padding-bottom: 32px;
}

.main img,
.main video {
  padding-bottom: 20px;
}

.side {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.info {
  display: flex;
  border-bottom: 1px solid #D1D1D1;
  padding: 10px;
}

.info .text {
  width: 85%;
}

.info:hover {
  background-color: #D1D1D1;
  transition-duration: 500ms;
}

.info img {
  width: 90%;
  height: auto;
}

.info span {
  text-align: center;
}

/* Classes section */

.classes,
.community {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}

.classes h2 {
  padding-bottom: 32px;
}

.community-build h2{
  padding-bottom: 0.5rem;
}

.course-work {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
}

.course img {
  width: 100%;
}

.text {
  padding: 10px;
  width: auto;
}

/* Footer */

footer {
  border-top: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 40px 24px;
}

footer span {
  padding-left: 15px;
}

footer a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 859px) {
  .mobile {
    display: none;
  }
  .side .info:first-child {
    padding-top: 0;
  }
  .community h2 {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 858px) and (min-width: 608px) {
  /* Tablet 858px - 480px */
  h1 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 14px;
  }
  .middle,
  .community-build {
    flex-direction: column-reverse;
  }
  .main {
    display: block;
    width: 90%;
    margin: auto;
  }
  .side {
    width: 90%;
    height: auto;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    border-bottom: 1px solid #D1D1D1;
  }
  .community .side {
    padding: 0;
  }
  .info {
    width: 30%;
    flex-direction: column;
    border-bottom: none;
    padding: 10px;
  }
  .info img {
    width: 100%;
    height: auto;
  }
  .info .text{
    width: 90%;
  }
  .course {
    width: 45%;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 607px) {
  /* Mobile less than 480px */
  .banner {
    flex-direction: column;
  }
  .main-image {
    width: 100%;
    padding: 0;
  }
  .bannertext {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .desktop {
    display: none;
  }
  .navbar {
    justify-content: space-around;
  }
  h1 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 14px;
  }
  .classes a {
    text-decoration: none;
    color: black;
  }
  .community .main {
    display: inline-block;
    width: 90%;
    margin: auto;
  }
  .side {
    width: 100%;
    padding: 0;
    margin: 20px;
  }
  .community-build {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main video {
    padding: 0 0 12px 0;
  }
  .community-build .btn {
    width: 55%;
    margin-top: 0;
  }
  .middle {
    padding: 0;
  }
  .middle,
  .classes {
    border-bottom: 1px solid #D1D1D1;
  }
  .middle .info {
    flex-direction: column;
    border: none;
  }
  .classes {
    background-color: #fff;
  }
  .classes .mobile {
    width: 90%;
  }
  .classes .mobile h3 {
    background-color: #D1D1D1;
    padding: 20px 0px;
    margin: 10px auto;
    text-align: center;
    transition-duration: 1s;
  }
  .classes .mobile h3:first-child {
    margin-top: 0;
  }
  .classes .mobile h3:hover {
    cursor: pointer;
    background-color: #70B6ED;
  }
  .community-build .main {
    padding-top: 0;
  }
  footer {
    font-size: 12px;
  }
}
