html {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.quote {
  font-size: 0.9rem;
  font-weight: 700;
}

p {
  line-height: 1.2rem;
}

body {
  width: 100%;
}

h1,
h2,
h3,
p {
  padding-bottom: 0.5rem;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-right: 8px;
}

.logo {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.logo img {
  height: 32px;
}

.name-one {
  color: darkgrey;
}

.name-two {
  color: lightgrey;
}

nav li {
  display: inline-block;
  padding: 5px 8px;
  border-bottom: 3px solid #FFF;
  transition-duration: 500ms;
}

nav li:hover {
  border-bottom: 3px solid #330640;
}

nav li:active {
  border-bottom: 3px solid #70B6ED;
  color: #70B6ED;
  transition-duration: 200ms;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:active {
  color: #70B6ED;
  transition-duration: 200ms;
}
/* Banner */

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.banner,
.classes {
  background-color: #D1D1D1;
}

.main {
  width: 55%;
  padding: 20px;
}

.main img {
  width: 100%;
}

.bannertext {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

/* Buttons */

.btn {
  color: white;
  background-color: #330640;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}

.btn:hover {
  transition-duration: 500ms;
  background-color: #70B6ED;
  border: none;
  border-radius: 0;
}

.mini-btn {
  color: #70B6ED;
  text-decoration: none;
  font-weight: 700;
  padding: 0 3px;
}

.mini-btn:hover {
  background-color: #330640;
  border: 1px solid #330640;
  border-radius: 5px;
  transition-duration: 300ms;
}

/* Middle info sections */

.middle {
  padding-bottom: 32px;
}

.main img,
.main video {
  padding-bottom: 20px;
}

.side {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #D1D1D1;
}

.info:hover {
  background-color: #D1D1D1;
  transition-duration: 500ms;
}

.info img {
  display: inline-block;
  width: 35%;
  height: 100%;
  padding-right: 20px;
}

/* Classes section */

.classes,
.community {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}

.classes h2 {
  padding-bottom: 40px;
}

.community h2 {
  padding-bottom: 20px;
}

.course-work {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
}

.course img {
  width: 100%;
}

.text {
  padding: 15px;
  width: auto;
}

/* Classes section */

video {
  width:100%;
}

/* Footer */

footer {
  border-top: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 40px 24px;
}

footer span {
  padding-left: 15px;
}

footer a {
  color: black;
  text-decoration: none;
}
